<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gec.oasys.dao.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.gec.oasys.pojo.SysUser">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="login_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="pwd" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="img" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="email" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sex" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="mobile" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="role_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="org_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="roleName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="departmentName" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    u.*,r.name as roleName,d.Name as departmentName
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user u left join sys_role r on u.role_id = r.id left join sys_department d on d.Id=u.org_id
    where u.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gec.oasys.pojo.SysUser">
    insert into sys_user (id, login_name, pwd, 
      img, email, sex, mobile, 
      status, name, role_id, 
      org_id)
    values (#{id,jdbcType=INTEGER}, #{loginName,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{img,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{status,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{roleId,jdbcType=INTEGER}, 
      #{orgId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.gec.oasys.pojo.SysUser">
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="loginName != null">
        login_name,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gec.oasys.pojo.SysUser">
    update sys_user
    <set>
      <if test="loginName != null">
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gec.oasys.pojo.SysUser">
    update sys_user
    set login_name = #{loginName,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      name = #{name,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=INTEGER},
      org_id = #{orgId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <sql id="query_where_params">
    <where>
      1=1
      <if test="loginName != null and loginName != '' ">
        <![CDATA[and login_name like CONCAT(CONCAT('%', #{loginName}),'%')]]>
      </if>
      <if test="sex != null and sex != '' ">
        and sex=#{sex}
      </if>
    </where>
  </sql>
  <select id="query" resultMap="BaseResultMap" parameterType="com.gec.oasys.pojo.SysUser">
    select
    <include refid="Base_Column_List" />
    from sys_user u left join sys_role r on u.role_id = r.id left join sys_department d on d.Id=u.org_id
    <include refid="query_where_params" />
  </select>

  <select id="getCountByUser" parameterType="com.gec.oasys.pojo.SysUser" resultType="Long">
    select count(*)
    from sys_user u left join sys_role r on u.role_id = r.id left join sys_department d on d.Id=u.org_id
    <include refid="query_where_params" />
  </select>

  <select id="queryByPage" parameterType="com.gec.oasys.pojo.SysUser" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from sys_user u left join sys_role r on u.role_id = r.id left join sys_department d on d.Id=u.org_id
    <include refid="query_where_params" />
    limit #{start},#{limit}
  </select>

  <select id="querySysUserByLoginNameAndPwd" resultMap="BaseResultMap" parameterType="com.gec.oasys.pojo.SysUser">
    select
    <include refid="Base_Column_List" />
    from sys_user u left join sys_role r on u.role_id = r.id left join sys_department d on d.Id=u.org_id
   <!-- <where>
      <if test="loginName!=null and loginName!=''">
        <![CDATA[and login_name =#{loginName}]]>
      </if>
       <if test="pwd!=null and pwd!=''">
        <![CDATA[and pwd =#{pwd}]]>
      </if>
    </where>-->
    <where>
     and 1=1
     and login_name =#{loginName}
     and pwd =#{pwd}
    </where>
  </select>


</mapper>